@{
    ViewBag.Title = "Home Page";
}
<div class="col-lg-12">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6 main-menu-div">
        @Html.ActionLink("DATA ENTRY", "CreateData", "Home")
    </div>
    <div class="col-lg-3">

    </div>
</div>
<div class="col-lg-12">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6 main-menu-div">
        @Html.ActionLink("QUERRY", "CreateQuery", "Home")
    </div>
    <div class="col-lg-3">

    </div>
</div>
