@{
    ViewBag.Title = "InitCreateData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Data Entry</h2>
<div class="panel panel-default">
    <div class="panel-heading">Customer Data</div>
    <div class="panel-body">
    This page is temporarily disabled by the site administrator for some reason.<br>
     <a href="#">Click here</a> to enable the page.
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Employee Data</div>
    <div class="panel-body">
        This page is temporarily disabled by the site administrator for some reason.<br>
        <a href="#">Click here</a> to enable the page.
    </div>
</div>